{% extends 'doctorindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="add_drug_info">
  <table width="900" border="1"id="customers">
    <tr>
      <th scope="col">Drug Name </th>
      <th scope="col">Exp date </th>
      <th scope="col">Manfac Date </th>
      <th scope="col">Description</th>
      <th scope="col">&nbsp;</th>
    </tr>
    {% for i in res %}
    <tr>
      <td>&nbsp;{{i[2]}}</td>
      <td>&nbsp;{{i[3]}}</td>
      <td>&nbsp;{{i[4]}}</td>
      <td>&nbsp;{{i[5]}}</td>
      <td><p><a href="/drug_edit?id={{i[0]}}">Edit</a></p>
      <p><a href="drug_delete?id={{i[0]}}">Delete</a></p></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="5"><p>
        <label>
        <input name="Submit" type="submit" value="Add New" />
        </label>
      </p></td>
    </tr>
  </table>
</form>
{% endblock %}
