{% extends 'doctorindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/uploadreport" enctype="multipart/form-data">
  <table width="900" border="1"id="customers">
    <tr>
      <th scope="col">Report</th>
      <th scope="col"><label>
        <input type="file" name="file" required/>
      </label></th>
    </tr>
    <tr>
      <td colspan="2"><label>
      <div align="center">
        <input type="submit" name="Submit" value="Submit" />
      </div>
      </label></td>
    </tr>
  </table>
</form>
{% endblock %}