{% extends 'adminindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/doc_reg">
  <table width="455" border="1"id="customers">

    <tr>
      <th width="220" scope="row"><p>Department</p>      </th>
      <td width="219"><label>
        <select name="select">
          <option>ENT</option>
          <option>Skin</option>
          <option>ortho</option>
          <option>nephrology</option>
        </select>
      </label></td>
    </tr>
    <tr>
      <th scope="row">First name </th>
      <td><label>
        <input type="text" name="textfield" required pattern="[A-Z a-z.]{3,25}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Last name </th>
      <td><label>
        <input type="text" name="textfield2" required pattern="[A-Z a-z.]{3,25}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Gender</th>
      <td><label>
        <input name="radiobutton" type="radio" value="male" checked/>
        male
        <input name="radiobutton" type="radio" value="female" checked/>
        Female</label></td>
    </tr>
    <tr>
      <th scope="row">Qualification</th>
      <td><label>
        <input type="checkbox" name="checkbox" value="mbbs" checked/>
        mbbs
        <input type="checkbox" name="checkbox" value="md" checked/>
        md </label></td>
    </tr>
    <tr>
      <th scope="row">DOB</th>
      <td><label>
        <input type="date" name="textfield3"  min="1990-01-01" max="2019-12-31" required/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Experience</th>
      <td><label>
        <input type="text" name="textfield4" required pattern="[A-Z a-z.]{3,25}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Place</th>
      <td><input type="text" name="textfield42" required pattern="[A-Z a-z.]{3,25}"/></td>
    </tr>
    <tr>
      <th scope="row">Post</th>
      <td><input type="text" name="textfield43" required pattern="[A-Z a-z.]{3,25}"/></td>
    </tr>
    <tr>
      <th scope="row">Pin</th>
      <td><input type="text" name="textfield44" required pattern="[0-9]{6}"/></td>
    </tr>
    <tr>
      <th scope="row">e-mail</th>
      <td><input type="text" name="textfield45"  required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}"/></td>
    </tr>
    <tr>
      <th scope="row">Contact</th>
      <td><input type="text" name="textfield46" required pattern="[6789][0-9]{9}"/></td>
    </tr>
    <tr>
      <th scope="row">Username</th>
      <td><label>
        <input type="text" name="textfield5" required pattern="[A-Z a-z.]{3,25}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Password</th>
      <td><label>
        <input type="text" name="textfield6" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required/>
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input name="Submit" type="submit" value="Add" />
      </label></th>
    </tr>
  </table>
</form>
{% endblock %}